<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <!-- The Following section can be enabled to add verbose logging for debugging issues with Handlers -->
  <!-- It is suggested to only use this when actively troubleshooting and disabling for production-->
  <!-- For the log filepath in initalizeData set to a directory you have full control over -->
  <!-- SUGGGESTED your user profile directory - make sure to change "YOUR_USERNAME" -->
  <!--<system.diagnostics>
    <trace autoflush="true"/>

    <switches>
      <add name="TraceLevelSwitch" value="Verbose"/>
    </switches>

    <sharedListeners>
      <add name="WebControls" initializeData="C:\_DATA\Projects\____LOGGER\SimpleWdvWithWdt.log" type="System.Diagnostics.TextWriterTraceListener"/>
    </sharedListeners>

    <sources>
      <source name="Atalasoft.dotImage.WebControls" switchName="TraceLevelSwitch">
        <listeners>
          <clear/>
          <add name="WebControls"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6.2"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>